<section>
  <h1>Your list:</h1>
  <form>
    <input
      type="text"
      [(ngModel)]="newTask"
      name="newTask"
      placeholder="New task"
    />
    <button (click)="addNewTask()">Add task</button>
  </form>
  <table>
    <colgroup>
      <col span="1" style="width: fit-content; min-width: 47px" />
      <col span="1" style="width: 100%" />
      <col span="1" style="width: fit-content; min-width: 84px" />
    </colgroup>

    <thead>
      <tr>
        <th></th>
        <th>Task</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="list">
      <tr *ngFor="let task of tasks | keyvalue">
        <td>
          <input
            type="checkbox" required
            (click)="toggleDone(task.key)"
            [checked]="task.value.done"
          />
        </td>
        <td>{{ task.value.name }}</td>
        <td>
          <button (click)="deleteTask(task.key)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
