<h2>Get in touch:</h2>
<form (ngSubmit)="submit()" [formGroup]="contactForm" #formDir="ngForm">
  <input type="text" formControlName="name" placeholder="John Doe" required />
  <div *ngIf="name?.invalid && formDir.submitted" class="validation-error">
    O nome é obrigatório!
  </div>
  <input
    type="email"
    formControlName="email"
    placeholder="john@doe.com"
    required
  />
  <div
    *ngIf="email?.errors?.['required'] && formDir.submitted"
    class="validation-error"
  >
    O email é obrigatório!
  </div>
  <div
    *ngIf="email?.errors?.['email'] && formDir.submitted"
    class="validation-error"
  >
    Não é um e-mail válido!
  </div>
  <input
    type="text"
    formControlName="content"
    placeholder="Your message..."
    required
  />
  <div *ngIf="content?.invalid && formDir.submitted" class="validation-error">
    A mensagem é obrigatório!
  </div>
  <button type="submit" [class.success]="submitted">
    Submit
    <span *ngIf="submitted">&#10003;</span>
  </button>
</form>
