/* You can add global styles to this file, and also import other style files */
:root {
  --text: white;
  --detail-text: gray;
  --link: var(--text);
  --background-color: #18181b;
  --accent: #d90437;

  --btn-background: #3f3f46;
  --btn-background-hover: #71717a;

  --input-background: #18181b;
  --input-background-hover: #27272a;
  --input-background-border: #3f3f46;
  --input-background-border-hover: #52525b;
  --input-background-border-active: white;

  --table-round: 8px;

  --table-head-text: #f4f4f5;
  --table-head-backround: #27272a;

  --table-cell-text: #d4d4d8;
  --table-row-backround: #27272a;
  --table-row-backround-hover: #323236;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: var(--text);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-color);
}

/* BUTTON RESET */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

a {
  color: var(--link);
}

section {
  display: flex;

  width: 100%;
  min-height: 100vh;

  padding-inline: 20px;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span {
  color: var(--accent);
}

/* BASE INPUT STYLE */

input {
  background-color: var(--input-background);
  color: var(--text);

  padding: 12px;
  border-radius: 4px;

  transition: all 0.2s;

  border: solid var(--input-background-border) 1px;
}

input:focus-visible {
  outline: none;
  border-color: var(--input-background-border-active) !important;
}

input:hover {
  background-color: var(--input-background-hover);
  border-color: var(--input-background-border-ver);
}

/* BUTTON STYLE */

button {
  min-width: fit-content;

  background-color: var(--btn-background);
  border-radius: 4px;
  align-self: center;

  padding: 5px;
  padding-inline: 8px;

  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-background-hover);
}
