/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #242424;
  --accent: #d90437;

  --table-round: 8px;

  --table-head-text: #f4f4f5;
  --table-head-backround: #27272a;

  --table-cell-text: #d4d4d8;
  --table-row-backround: #27272a;
  --table-row-backround-hover: #323236;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-color);
}

/* BUTTON RESET */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

a {
  color: white;
}

section {
  display: flex;

  width: 100%;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span {
  color: var(--accent);
}
